USE [master]
GO
/****** Object:  Database [QLDSV]    Script Date: 6/8/2022 9:25:39 PM ******/
CREATE DATABASE [QLDSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERVER\MSSQL\DATA\QLDSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERVER\MSSQL\DATA\QLDSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV]
GO
/****** Object:  User [N15DCCN002]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [N15DCCN002] FOR LOGIN [PN] WITH DEFAULT_SCHEMA=[N15DCCN002]
GO
/****** Object:  User [N15DCCN001]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [N15DCCN001] FOR LOGIN [N15DCCN001] WITH DEFAULT_SCHEMA=[N15DCCN001]
GO
/****** Object:  User [GV06      ]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [GV06      ] FOR LOGIN [NVS] WITH DEFAULT_SCHEMA=[GV06      ]
GO
/****** Object:  User [GV05      ]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [GV05      ] FOR LOGIN [CML] WITH DEFAULT_SCHEMA=[GV05      ]
GO
/****** Object:  User [GV04      ]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [GV04      ] FOR LOGIN [NQM] WITH DEFAULT_SCHEMA=[GV04      ]
GO
/****** Object:  User [GV03      ]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [GV03      ] FOR LOGIN [HTT] WITH DEFAULT_SCHEMA=[GV03      ]
GO
/****** Object:  User [GV02]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [GV02] FOR LOGIN [GV02] WITH DEFAULT_SCHEMA=[GV02]
GO
/****** Object:  User [GV01]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [GV01] FOR LOGIN [LNKT] WITH DEFAULT_SCHEMA=[GV01]
GO
/****** Object:  User [abc]    Script Date: 6/8/2022 9:25:41 PM ******/
CREATE USER [abc] FOR LOGIN [abc] WITH DEFAULT_SCHEMA=[abc]
GO
/****** Object:  DatabaseRole [SINHVIEN]    Script Date: 6/8/2022 9:25:42 PM ******/
CREATE ROLE [SINHVIEN]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 6/8/2022 9:25:42 PM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [manager]    Script Date: 6/8/2022 9:25:42 PM ******/
CREATE ROLE [manager]
GO
/****** Object:  DatabaseRole [KHOACNTT]    Script Date: 6/8/2022 9:25:42 PM ******/
CREATE ROLE [KHOACNTT]
GO
/****** Object:  DatabaseRole [KHOA]    Script Date: 6/8/2022 9:25:42 PM ******/
CREATE ROLE [KHOA]
GO
ALTER ROLE [KHOA] ADD MEMBER [GV03      ]
GO
ALTER ROLE [PGV] ADD MEMBER [GV01]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV01]
GO
ALTER ROLE [db_owner] ADD MEMBER [PGV]
GO
/****** Object:  Schema [abc]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [abc]
GO
/****** Object:  Schema [GV01]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [GV01]
GO
/****** Object:  Schema [GV02]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [GV02]
GO
/****** Object:  Schema [GV03      ]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [GV03      ]
GO
/****** Object:  Schema [GV04      ]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [GV04      ]
GO
/****** Object:  Schema [GV05      ]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [GV05      ]
GO
/****** Object:  Schema [GV06      ]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [GV06      ]
GO
/****** Object:  Schema [KHOA]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [KHOA]
GO
/****** Object:  Schema [KHOACNTT]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [KHOACNTT]
GO
/****** Object:  Schema [N15DCCN001]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [N15DCCN001]
GO
/****** Object:  Schema [N15DCCN002]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [N15DCCN002]
GO
/****** Object:  Schema [PGV]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [PGV]
GO
/****** Object:  Schema [SINHVIEN]    Script Date: 6/8/2022 9:25:43 PM ******/
CREATE SCHEMA [SINHVIEN]
GO
/****** Object:  Table [dbo].[CHAM_LVTN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAM_LVTN](
	[MALVTN] [varchar](10) NOT NULL,
	[MAGVTB] [varchar](10) NOT NULL,
	[DIEMHD] [float] NULL,
	[DIEMPB] [float] NULL,
	[DIEMTV] [float] NULL,
 CONSTRAINT [PK_CHAM_LVTN] PRIMARY KEY CLUSTERED 
(
	[MALVTN] ASC,
	[MAGVTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACN] [varchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
	[MAKHOA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALOPTC] [varchar](10) NOT NULL,
	[MASV] [varchar](10) NOT NULL,
	[DIEMCC] [float] NULL,
	[DIEMTH] [float] NULL,
	[DIEMCK] [float] NULL,
	[HUYDK] [bit] NULL,
	[DIEMTK] [float] NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALOPTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMYC_LVTN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMYC_LVTN](
	[NAM] [int] NOT NULL,
	[MACN] [varchar](10) NOT NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_DIEMYC_LVTN] PRIMARY KEY CLUSTERED 
(
	[NAM] ASC,
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MALOPTC] [varchar](10) NOT NULL,
	[MAGV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GIANGDAY] PRIMARY KEY CLUSTERED 
(
	[MALOPTC] ASC,
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [varchar](10) NOT NULL,
	[MAKHOA] [varchar](10) NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](50) NULL,
	[HOCHAM] [nvarchar](50) NULL,
	[CHUYENMON] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK__GIANGVIE__603F38B18EFC39C2] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_TIEUBAN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_TIEUBAN](
	[MAGVTB] [varchar](10) NOT NULL,
	[MAGV] [varchar](10) NOT NULL,
	[MATB] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GV_TB] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIDONG]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONG](
	[MAHD] [varchar](10) NOT NULL,
	[TENHD] [nvarchar](50) NULL,
	[NAM] [int] NULL,
	[MAKHOA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHOACHGD]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACHGD](
	[MAMH] [varchar](10) NOT NULL,
	[MACN] [varchar](10) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NIENKHOA] [int] NOT NULL,
	[SOTINCHI] [int] NULL,
	[HESO1] [float] NULL,
	[HESO2] [float] NULL,
 CONSTRAINT [PK_KEHOACHGD] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MACN] ASC,
	[HOCKY] ASC,
	[NIENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[MALOPTC] [varchar](10) NOT NULL,
	[MAPHONG] [varchar](10) NOT NULL,
	[THU] [int] NOT NULL,
	[BUOI] [nchar](1) NOT NULL,
	[TIETBD] [int] NULL,
	[SOTIET] [int] NULL,
 CONSTRAINT [PK_LICHHOC] PRIMARY KEY CLUSTERED 
(
	[MALOPTC] ASC,
	[MAPHONG] ASC,
	[THU] ASC,
	[BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKHOA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALOPTC] [varchar](10) NOT NULL,
	[NIENKHOA] [int] NOT NULL,
	[HOCKY] [int] NOT NULL,
	[SOSVTD] [int] NOT NULL,
	[HUYLOP] [bit] NULL,
	[MAMH] [varchar](10) NOT NULL,
 CONSTRAINT [PK__LOPTINCH__29B817BC3161E635] PRIMARY KEY CLUSTERED 
(
	[MALOPTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LVTN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LVTN](
	[MALVTN] [varchar](10) NOT NULL,
	[TENLVTN] [nvarchar](50) NOT NULL,
	[MAGVPB] [varchar](10) NULL,
	[MAGVHD] [varchar](10) NULL,
	[MASV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALVTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIETLT] [int] NULL,
	[SOTIETTH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAM]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAM](
	[NAM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [varchar](10) NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
	[SLGHE] [int] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK__PHONG__CE71B2525E9D6395] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NOT NULL,
	[KHOAHOC] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[MALOP] [varchar](10) NULL,
	[MACN] [varchar](10) NULL,
	[MALVTN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEUBAN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUBAN](
	[MATB] [varchar](10) NOT NULL,
	[TENTB] [nvarchar](50) NULL,
	[MAHD] [varchar](10) NULL,
	[MACN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUONGBAN]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONGBAN](
	[MAKHOA] [varchar](10) NOT NULL,
	[MAGV] [varchar](10) NOT NULL,
	[NGAYNHANCHUC] [date] NULL,
 CONSTRAINT [PK_TRUONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC,
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_LayRolename_Loginname]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LayRolename_Loginname]
as
select Rolename=T1.name,Loginname=(select T2.name from sys.syslogins T2 where T2.sid=T.sid) from (select * from sys.database_principals, sys.database_role_members where principal_id=member_principal_id)T,
	sys.database_principals T1
	where T1.principal_id = T.role_principal_id and T1.name!='db_owner'
GO
/****** Object:  View [dbo].[V_LGname_ChuaTonTaiTrongRole]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LGname_ChuaTonTaiTrongRole]
as
select lg.name AS Loginame
FROM sys.sql_logins AS lg INNER JOIN
                  sys.database_principals AS pl ON lg.sid = pl.sid
where lg.name not in(SELECT V1.Loginname from V_LayRolename_Loginname V1)
GO
/****** Object:  View [dbo].[V_LoginChuaThuocRole_SV]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LoginChuaThuocRole_SV]
as
SELECT lg.name AS Loginame
FROM     sys.sql_logins AS lg INNER JOIN
                  sys.database_principals AS pl ON lg.sid = pl.sid INNER JOIN
                  dbo.SINHVIEN ON dbo.SINHVIEN.MASV = pl.name
WHERE  (lg.name NOT IN
                      (SELECT Loginname
                       FROM      dbo.V_LayRolename_Loginname AS V1))
GO
/****** Object:  View [dbo].[V_LoginChuaThuocRole_GV]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LoginChuaThuocRole_GV]
as
SELECT lg.name AS Loginame
FROM     sys.sql_logins AS lg INNER JOIN
                  sys.database_principals AS pl ON lg.sid = pl.sid INNER JOIN
                  dbo.GIANGVIEN ON dbo.GIANGVIEN.MAGV = pl.name
WHERE  (lg.name NOT IN
                      (SELECT Loginname
                       FROM      dbo.V_LayRolename_Loginname AS V1))
GO
/****** Object:  View [dbo].[V_DSGV_CTTK]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CReate view [dbo].[V_DSGV_CTTK]
as
SELECT MAGV, HO + ' ' + TEN AS HOTEN
FROM     dbo.GIANGVIEN
WHERE  (NOT EXISTS
                      (SELECT name
                       FROM      sys.database_principals
                       WHERE   (type_desc = 'SQL_USER') AND (name = dbo.GIANGVIEN.MAGV)))
GO
/****** Object:  View [dbo].[V_DSSV_CTTK]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[V_DSSV_CTTK]
as
SELECT MASV, HO + ' ' + TEN AS HOTEN
FROM     dbo.SINHVIEN
WHERE  (NOT EXISTS
                      (SELECT name
                       FROM      sys.database_principals
                       WHERE   (type_desc = 'SQL_USER') AND (name = dbo.SINHVIEN.MASV)))
GO
/****** Object:  View [dbo].[V_LayLoginname_GV]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[V_LayLoginname_GV]
as
SELECT lg.name AS Loginame, HOTEN = HO + ' ' + TEN
FROM     sys.sql_logins AS lg INNER JOIN
                  sys.database_principals AS pl ON lg.sid = pl.sid
				  INNER JOIN GIANGVIEN ON MAGV = pl.name
WHERE  (lg.name <> 'sa')
GO
/****** Object:  View [dbo].[V_LayLoginname_SV]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[V_LayLoginname_SV]
as
SELECT lg.name AS Loginame,HOTEN =  HO + ' ' + TEN
FROM     sys.sql_logins AS lg INNER JOIN
                  sys.database_principals AS pl ON lg.sid = pl.sid
				  INNER JOIN SINHVIEN ON MASV = pl.name
WHERE  (lg.name <> 'sa')
GO
/****** Object:  View [dbo].[V_LayRolename]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LayRolename]
as
	Select name from sys.database_principals 
	Where type = 'R' and principal_id < 16384 and name!='public'
GO
/****** Object:  View [dbo].[V_LayRoleName_LGname_Hoten]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[V_LayRoleName_LGname_Hoten]
as
select Rolename=T1.name,Loginname=(select T2.name from sys.syslogins T2 where T2.sid=T.sid), (CASE WHEN
                      ((SELECT HO + ' ' + TEN
                        FROM      SINHVIEN
                        WHERE   MASV = T.name) != '') THEN
                      (SELECT HO + ' ' + TEN
                       FROM      SINHVIEN
                       WHERE   MASV = T.name) ELSE
                      (SELECT HO + ' ' + TEN
                       FROM      GIANGVIEN
                       WHERE   MAGV = T.name) END) AS HOTEN
from (select * from sys.database_principals, sys.database_role_members where principal_id=member_principal_id)T,
	sys.database_principals T1
	where T1.principal_id = T.role_principal_id and T1.name!='db_owner'
GO
/****** Object:  View [dbo].[V_LaySP]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[V_LaySP]
as
SELECT name
FROM     sys.objects
WHERE  type = 'P' AND (is_ms_shipped = 0) AND (name NOT LIKE 'sp[_]%diagram%')
GO
/****** Object:  View [dbo].[V_LaySP_Va_View]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[V_LaySP_Va_View]
 as
select name
from sys.objects
where type in ('V','P') AND is_ms_shipped = 0 
     AND [name] not like 'sp[_]%diagram%'
GO
/****** Object:  View [dbo].[V_LayTatCaTable]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LayTatCaTable]
as
SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'
GO
/****** Object:  View [dbo].[V_LayViews]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[V_LayViews]
as
SELECT name
FROM     sys.objects
WHERE  type = 'V' AND (is_ms_shipped = 0) AND (name NOT LIKE 'sp[_]%diagram%')
GO
/****** Object:  View [dbo].[V_Load_LoginName_Hoten]    Script Date: 6/8/2022 9:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_Load_LoginName_Hoten]
as
SELECT Loginame=lg.name, HOTEN = (CASE WHEN((SELECT HO+ ' '+ TEN FROM SINHVIEN WHERE MASV = pl.name)!='') 
then (SELECT HO+ ' '+ TEN FROM SINHVIEN WHERE MASV = pl.name) ELSE (SELECT HO+ ' '+ TEN FROM GIANGVIEN WHERE MAGV=pl.name) END)
FROM sys.sql_logins lg,sys.database_principals pl where lg.sid=pl.sid and lg.name!='sa'
GO
INSERT [dbo].[CHAM_LVTN] ([MALVTN], [MAGVTB], [DIEMHD], [DIEMPB], [DIEMTV]) VALUES (N'1', N'1', 0, 0, 0)
INSERT [dbo].[CHAM_LVTN] ([MALVTN], [MAGVTB], [DIEMHD], [DIEMPB], [DIEMTV]) VALUES (N'2', N'1', 0, 0, 0)
GO
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'CN01', N'Công nghệ phần mềm', N'CNTT')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'CN02', N'Khoa học máy tính', N'CNTT')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'VT01', N'Chuyên ngành 1', N'VT')
GO
INSERT [dbo].[DANGKY] ([MALOPTC], [MASV], [DIEMCC], [DIEMTH], [DIEMCK], [HUYDK], [DIEMTK]) VALUES (N'1', N'N15DCCN001', 2, 3, 7, 0, 5.7)
INSERT [dbo].[DANGKY] ([MALOPTC], [MASV], [DIEMCC], [DIEMTH], [DIEMCK], [HUYDK], [DIEMTK]) VALUES (N'1', N'N15DCCN004', 10, 3, 4, 0, 4.3)
INSERT [dbo].[DANGKY] ([MALOPTC], [MASV], [DIEMCC], [DIEMTH], [DIEMCK], [HUYDK], [DIEMTK]) VALUES (N'1', N'N15DCCN005', 10, 3, 4, 0, 4.3)
GO
INSERT [dbo].[DIEMYC_LVTN] ([NAM], [MACN], [DIEM]) VALUES (2019, N'CN01', 6.5)
INSERT [dbo].[DIEMYC_LVTN] ([NAM], [MACN], [DIEM]) VALUES (2019, N'CN02', 7)
INSERT [dbo].[DIEMYC_LVTN] ([NAM], [MACN], [DIEM]) VALUES (2019, N'VT01', 6.8)
GO
INSERT [dbo].[GIANGDAY] ([MALOPTC], [MAGV]) VALUES (N'1', N'GV01')
INSERT [dbo].[GIANGDAY] ([MALOPTC], [MAGV]) VALUES (N'2', N'GV02')
INSERT [dbo].[GIANGDAY] ([MALOPTC], [MAGV]) VALUES (N'3', N'GV05')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [TRANGTHAI]) VALUES (N'GV01      ', N'CNTT      ', N'Lưu Nguyễn Kỳ', N'Thư', N'Thạc sĩ', N'', N'Phần mềm', 0)
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [TRANGTHAI]) VALUES (N'GV02      ', N'CNTT      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính', 0)
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [TRANGTHAI]) VALUES (N'GV03      ', N'CNTT      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm', 0)
GO
INSERT [dbo].[GV_TIEUBAN] ([MAGVTB], [MAGV], [MATB]) VALUES (N'1', N'GV01', N'1')
INSERT [dbo].[GV_TIEUBAN] ([MAGVTB], [MAGV], [MATB]) VALUES (N'2', N'GV02', N'2')
GO
INSERT [dbo].[HOIDONG] ([MAHD], [TENHD], [NAM], [MAKHOA]) VALUES (N'HD01', N'Hội đồng 1', 2019, N'CNTT')
GO
INSERT [dbo].[KEHOACHGD] ([MAMH], [MACN], [HOCKY], [NIENKHOA], [SOTINCHI], [HESO1], [HESO2]) VALUES (N'BAS1122 ', N'CN01', 1, 2019, 2, 0.2, 0.7)
INSERT [dbo].[KEHOACHGD] ([MAMH], [MACN], [HOCKY], [NIENKHOA], [SOTINCHI], [HESO1], [HESO2]) VALUES (N'BAS1122 ', N'CN02', 1, 2019, 2, 0.3, 0.6)
INSERT [dbo].[KEHOACHGD] ([MAMH], [MACN], [HOCKY], [NIENKHOA], [SOTINCHI], [HESO1], [HESO2]) VALUES (N'BAS1143 ', N'CN01', 1, 2019, 2, 0.3, 0.6)
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'VT', N'Viễn thông')
GO
INSERT [dbo].[LICHHOC] ([MALOPTC], [MAPHONG], [THU], [BUOI], [TIETBD], [SOTIET]) VALUES (N'1', N'1', 2, N'S', 1, 5)
INSERT [dbo].[LICHHOC] ([MALOPTC], [MAPHONG], [THU], [BUOI], [TIETBD], [SOTIET]) VALUES (N'2', N'3', 2, N'C', 7, 5)
INSERT [dbo].[LICHHOC] ([MALOPTC], [MAPHONG], [THU], [BUOI], [TIETBD], [SOTIET]) VALUES (N'3', N'1', 3, N'C', 7, 5)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOA]) VALUES (N'D19CQCN01', N'D19 Công nghệ 1', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOA]) VALUES (N'D19CQVT01', N'D19 Viễn Thông 1', N'VT')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOA]) VALUES (N'D20CQCN01', N'D20 Công nghệ 1', N'CNTT')
GO
INSERT [dbo].[LOPTINCHI] ([MALOPTC], [NIENKHOA], [HOCKY], [SOSVTD], [HUYLOP], [MAMH]) VALUES (N'1', 2019, 1, 3, 0, N'BAS1122 ')
INSERT [dbo].[LOPTINCHI] ([MALOPTC], [NIENKHOA], [HOCKY], [SOSVTD], [HUYLOP], [MAMH]) VALUES (N'2', 2019, 1, 2, 0, N'BAS1143 ')
INSERT [dbo].[LOPTINCHI] ([MALOPTC], [NIENKHOA], [HOCKY], [SOSVTD], [HUYLOP], [MAMH]) VALUES (N'3', 2019, 1, 70, 0, N'BAS1204 ')
GO
INSERT [dbo].[LVTN] ([MALVTN], [TENLVTN], [MAGVPB], [MAGVHD], [MASV]) VALUES (N'1', N'Quản lí bán đồng hồ', N'GV01', N'GV01', N'N15DCCN001')
INSERT [dbo].[LVTN] ([MALVTN], [TENLVTN], [MAGVPB], [MAGVHD], [MASV]) VALUES (N'2', N'Nghiên cứu trí tuệ nhân tạo', N'GV01', N'GV03', N'N15DCCN002')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIETLT], [SOTIETTH]) VALUES (N'BAS1122 ', N'Tu Tuong HCM', 30, 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIETLT], [SOTIETTH]) VALUES (N'BAS1143 ', N'Tieng Anh A2.1', 32, 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIETLT], [SOTIETTH]) VALUES (N'BAS1204 ', N'Giai Tich', 40, 0)
GO
INSERT [dbo].[NAM] ([NAM]) VALUES (2019)
INSERT [dbo].[NAM] ([NAM]) VALUES (2020)
INSERT [dbo].[NAM] ([NAM]) VALUES (2021)
GO
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [SLGHE], [TRANGTHAI]) VALUES (N'1', N'2A08', 150, 0)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [SLGHE], [TRANGTHAI]) VALUES (N'2', N'2A16', 150, 0)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [SLGHE], [TRANGTHAI]) VALUES (N'3', N'2A27', 150, 0)
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [KHOAHOC], [TRANGTHAI], [MALOP], [MACN], [MALVTN]) VALUES (N'N15DCCN001', N'Võ Văn', N'Đức', N'Nam', N'Quận 9', CAST(N'1997-02-08' AS Date), 2019, N'False', N'D19CQCN01', N'CN01', NULL)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [KHOAHOC], [TRANGTHAI], [MALOP], [MACN], [MALVTN]) VALUES (N'N15DCCN002', N'Phùng', N'Nam', N'Nam', N'Quận 9', CAST(N'1997-02-08' AS Date), 2019, N'False', N'D19CQCN01', N'CN02', NULL)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [KHOAHOC], [TRANGTHAI], [MALOP], [MACN], [MALVTN]) VALUES (N'N15DCCN003', N'Võ Văn', N'Khang', N'Nam', N'Quận 9', CAST(N'1997-02-08' AS Date), 2019, N'False', N'D19CQCN01', N'CN02', NULL)
GO
INSERT [dbo].[TIEUBAN] ([MATB], [TENTB], [MAHD], [MACN]) VALUES (N'1', N'Tiểu ban 1', N'HD01', N'CN01')
INSERT [dbo].[TIEUBAN] ([MATB], [TENTB], [MAHD], [MACN]) VALUES (N'2', N'Tiểu ban 2', N'HD01', N'CN01')
GO
INSERT [dbo].[TRUONGBAN] ([MAKHOA], [MAGV], [NGAYNHANCHUC]) VALUES (N'CNTT', N'GV01      ', CAST(N'2022-05-10' AS Date))
INSERT [dbo].[TRUONGBAN] ([MAKHOA], [MAGV], [NGAYNHANCHUC]) VALUES (N'VT', N'GV04      ', CAST(N'2022-05-10' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHUYENNG__A58D6F62F15561FC]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[CHUYENNGANH] ADD UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GV_TIEUB__102E817E9B88B5F6]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[GV_TIEUBAN] ADD UNIQUE NONCLUSTERED 
(
	[MAGVTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HOIDONG__A58E9732C97BD7A2]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[HOIDONG] ADD UNIQUE NONCLUSTERED 
(
	[TENHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHOA__4277DA578C803E4F]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[KHOA] ADD UNIQUE NONCLUSTERED 
(
	[TENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOP__E100BDB7C42EE174]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[LOP] ADD UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LVTN__BE9333DC105EAE7B]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[LVTN] ADD UNIQUE NONCLUSTERED 
(
	[TENLVTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MONHOC__A58D38A02F39EA6A]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PHONG__6F96CB8BD310ED4F]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [UQ__PHONG__6F96CB8BD310ED4F] UNIQUE NONCLUSTERED 
(
	[TENPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TIEUBAN__A58DF181990C113B]    Script Date: 6/8/2022 9:25:44 PM ******/
ALTER TABLE [dbo].[TIEUBAN] ADD UNIQUE NONCLUSTERED 
(
	[TENTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHAM_LVTN] ADD  CONSTRAINT [DF_CHAM_LVTN_DIEMHD]  DEFAULT ((0)) FOR [DIEMHD]
GO
ALTER TABLE [dbo].[CHAM_LVTN] ADD  CONSTRAINT [DF_CHAM_LVTN_DIEMPB]  DEFAULT ((0)) FOR [DIEMPB]
GO
ALTER TABLE [dbo].[CHAM_LVTN] ADD  CONSTRAINT [DF_CHAM_LVTN_DIEMTV]  DEFAULT ((0)) FOR [DIEMTV]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_DANGKY_HUYDK]  DEFAULT ((0)) FOR [HUYDK]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [DF_GIANGVIEN_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ((0)) FOR [HUYLOP]
GO
ALTER TABLE [dbo].[MONHOC] ADD  DEFAULT ((0)) FOR [SOTIETLT]
GO
ALTER TABLE [dbo].[MONHOC] ADD  DEFAULT ((0)) FOR [SOTIETTH]
GO
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [DF_PHONG_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[TRUONGBAN] ADD  DEFAULT (getdate()) FOR [NGAYNHANCHUC]
GO
ALTER TABLE [dbo].[CHAM_LVTN]  WITH CHECK ADD  CONSTRAINT [FK_CHAMLVTN_GVTB] FOREIGN KEY([MAGVTB])
REFERENCES [dbo].[GV_TIEUBAN] ([MAGVTB])
GO
ALTER TABLE [dbo].[CHAM_LVTN] CHECK CONSTRAINT [FK_CHAMLVTN_GVTB]
GO
ALTER TABLE [dbo].[CHAM_LVTN]  WITH CHECK ADD  CONSTRAINT [FK_CHAMLVTN_LVTN] FOREIGN KEY([MALVTN])
REFERENCES [dbo].[LVTN] ([MALVTN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHAM_LVTN] CHECK CONSTRAINT [FK_CHAMLVTN_LVTN]
GO
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD  CONSTRAINT [FK_CN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHUYENNGANH] CHECK CONSTRAINT [FK_CN_KHOA]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LTC] FOREIGN KEY([MALOPTC])
REFERENCES [dbo].[LOPTINCHI] ([MALOPTC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LTC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SV] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SV]
GO
ALTER TABLE [dbo].[DIEMYC_LVTN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMYC_CN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEMYC_LVTN] CHECK CONSTRAINT [FK_DIEMYC_CN]
GO
ALTER TABLE [dbo].[DIEMYC_LVTN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMYC_NAM] FOREIGN KEY([NAM])
REFERENCES [dbo].[NAM] ([NAM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEMYC_LVTN] CHECK CONSTRAINT [FK_DIEMYC_NAM]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_GV]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_LTC] FOREIGN KEY([MALOPTC])
REFERENCES [dbo].[LOPTINCHI] ([MALOPTC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_LTC]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[GV_TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_GVTB_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GV_TIEUBAN] CHECK CONSTRAINT [FK_GVTB_GV]
GO
ALTER TABLE [dbo].[GV_TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_GVTB_TB] FOREIGN KEY([MATB])
REFERENCES [dbo].[TIEUBAN] ([MATB])
GO
ALTER TABLE [dbo].[GV_TIEUBAN] CHECK CONSTRAINT [FK_GVTB_TB]
GO
ALTER TABLE [dbo].[HOIDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOIDONG_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOIDONG] CHECK CONSTRAINT [FK_HOIDONG_KHOA]
GO
ALTER TABLE [dbo].[KEHOACHGD]  WITH CHECK ADD  CONSTRAINT [FK_KHGD_CN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KEHOACHGD] CHECK CONSTRAINT [FK_KHGD_CN]
GO
ALTER TABLE [dbo].[KEHOACHGD]  WITH CHECK ADD  CONSTRAINT [FK_KHGD_MH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KEHOACHGD] CHECK CONSTRAINT [FK_KHGD_MH]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_LICHHOC_LTC] FOREIGN KEY([MALOPTC])
REFERENCES [dbo].[LOPTINCHI] ([MALOPTC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [FK_LICHHOC_LTC]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_LICHHOC_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [FK_LICHHOC_PHONG]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MH]
GO
ALTER TABLE [dbo].[LVTN]  WITH CHECK ADD  CONSTRAINT [FK_LVTN_GIANGVIEN1] FOREIGN KEY([MAGVPB])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LVTN] CHECK CONSTRAINT [FK_LVTN_GIANGVIEN1]
GO
ALTER TABLE [dbo].[LVTN]  WITH CHECK ADD  CONSTRAINT [FK_LVTN_GIANGVIEN2] FOREIGN KEY([MAGVHD])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LVTN] CHECK CONSTRAINT [FK_LVTN_GIANGVIEN2]
GO
ALTER TABLE [dbo].[LVTN]  WITH CHECK ADD  CONSTRAINT [FK_LVTN_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[LVTN] CHECK CONSTRAINT [FK_LVTN_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_CN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_CN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LVTN] FOREIGN KEY([MALVTN])
REFERENCES [dbo].[LVTN] ([MALVTN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LVTN]
GO
ALTER TABLE [dbo].[TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_TIEUBAN_CN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[TIEUBAN] CHECK CONSTRAINT [FK_TIEUBAN_CN]
GO
ALTER TABLE [dbo].[TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_TIEUBAN_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOIDONG] ([MAHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TIEUBAN] CHECK CONSTRAINT [FK_TIEUBAN_HD]
GO
ALTER TABLE [dbo].[TRUONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_TRUONGBAN_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[TRUONGBAN] CHECK CONSTRAINT [FK_TRUONGBAN_GV]
GO
ALTER TABLE [dbo].[TRUONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_TRUONGBAN_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRUONGBAN] CHECK CONSTRAINT [FK_TRUONGBAN_MAKHOA]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD CHECK  (([DIEMCC]>=(0) AND [DIEMCC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD CHECK  (([DIEMCK]>=(0) AND [DIEMCK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD CHECK  (([DIEMTH]>=(0) AND [DIEMTH]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD CHECK  (([HUYDK]=(0) OR [HUYDK]=(1)))
GO
ALTER TABLE [dbo].[DIEMYC_LVTN]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[KEHOACHGD]  WITH CHECK ADD  CONSTRAINT [CK__KEHOACHGD__HESO1__71D1E811] CHECK  (([HESO1]>=(0) AND [HESO1]<=(0.9)))
GO
ALTER TABLE [dbo].[KEHOACHGD] CHECK CONSTRAINT [CK__KEHOACHGD__HESO1__71D1E811]
GO
ALTER TABLE [dbo].[KEHOACHGD]  WITH CHECK ADD  CONSTRAINT [CK__KEHOACHGD__HESO2__72C60C4A] CHECK  (([HESO2]>=(0) AND [HESO2]<=(0.9)))
GO
ALTER TABLE [dbo].[KEHOACHGD] CHECK CONSTRAINT [CK__KEHOACHGD__HESO2__72C60C4A]
GO
ALTER TABLE [dbo].[KEHOACHGD]  WITH CHECK ADD  CONSTRAINT [CK__KEHOACHGD__HOCKY__70DDC3D8] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(3)))
GO
ALTER TABLE [dbo].[KEHOACHGD] CHECK CONSTRAINT [CK__KEHOACHGD__HOCKY__70DDC3D8]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD CHECK  (([BUOI]=N'S' OR [BUOI]=N'C'))
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD CHECK  (([SOTIET]>=(1) AND [SOTIET]<=(5)))
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD CHECK  (([THU]>=(2) AND [THU]<=(8)))
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD CHECK  (([TIETBD]>=(1) AND [TIETBD]<=(10)))
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD CHECK  (([SOTIETLT]>=(0)))
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD CHECK  (([SOTIETTH]>=(0)))
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD CHECK  (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPQUYENCHOROLE]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CAPQUYENCHOROLE]
@ROLENAME varchar(50),
@QUYEN varchar(20),
@DOITUONG varchar(50)
as
begin

	DECLARE @STRSQL NVARCHAR(MAX)
	SET @STRSQL= CHAR(13)+'GRANT '+@QUYEN+ ' ON ['+@DOITUONG+'] TO '+@ROLENAME+';'
	
	EXEC SP_EXECUTESQL @STRSQL  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
BEGIN
	DECLARE @TENUSER NVARCHAR(50)
	SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
	SELECT USERNAME = @TENUSER,
		HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN WHERE MAGV = @TENUSER ),
		TENNHOM =(CASE WHEN ((SELECT NAME
			FROM sys.sysusers
				WHERE UID = (SELECT GROUPUID
					FROM SYS.SYSMEMBERS
						WHERE MEMBERUID= (SELECT UID FROM sys.sysusers
							WHERE NAME= @TENUSER))) !='') then (SELECT NAME
			FROM sys.sysusers
				WHERE UID = (SELECT GROUPUID
					FROM SYS.SYSMEMBERS
						WHERE MEMBERUID= (SELECT UID FROM sys.sysusers
							WHERE NAME=@TENUSER))) ELSE '' END)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOIMATKHAU]
@LGNAME nvarchar(50),
@PASS nvarchar(10)
as
begin
	DECLARE @STRSQL NVARCHAR(MAX)
	SET @STRSQL= CHAR(13)+ 'ALTER LOGIN ' + @LGNAME + ' WITH PASSWORD = ''' + @PASS +''''
	PRINT(@STRSQL)
	EXEC SP_EXECUTESQL @STRSQL 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_LayLGnameThuocRole]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayLGnameThuocRole]
@ROLENAME nvarchar(50)
as
begin
select Loginname=(select T2.name from sys.syslogins T2 where T2.sid=T.sid), (CASE WHEN
                      ((SELECT HO + ' ' + TEN
                        FROM      SINHVIEN
                        WHERE   MASV = T .name) != '') THEN
                      (SELECT HO + ' ' + TEN
                       FROM      SINHVIEN
                       WHERE   MASV = T .name) ELSE
                      (SELECT HO + ' ' + TEN
                       FROM      GIANGVIEN
                       WHERE   MAGV = T .name) END) AS HOTEN
from (select * from sys.database_principals, sys.database_role_members where principal_id=member_principal_id)T,
	sys.database_principals T1
	where T1.name=@ROLENAME and T1.principal_id = T.role_principal_id and T1.name!='db_owner'
end
GO
/****** Object:  StoredProcedure [dbo].[SP_LayQuyenDaCapChoRole]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LayQuyenDaCapChoRole]
@ROLENAME nvarchar(50)
as
begin
select V_LayRolename.name, T.permission_name, T.state_desc, T.DoiTuongCuThe from  V_LayRolename join (
select  princ.name
,       perm.permission_name
,       perm.state_desc
,		DoiTuongCuThe=object_name(perm.major_id)
from sys.database_principals princ
inner join
        sys.database_permissions perm
on  princ.name=@ROLENAME and perm.grantee_principal_id = princ.principal_id )T
on T.name=@ROLENAME and V_LayRolename.name=@ROLENAME
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_ROLE]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_TAO_ROLE]
@TENROLE nvarchar(20)
as
begin
	EXEC SP_addrole @TENROLE
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @rs int output
AS
	set @rs=0
	if exists(select name from sys.server_principals 
				where type in('U','S','G')
				and name NOT LIKE '%##%'
				and name = @LGNAME)
			set @rs = 1 --trùng login--
	else if exists(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
			set @rs =2
	else
		BEGIN
			EXEC SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
			EXEC SP_GRANTDBACCESS @LGNAME, @USERNAME
		end
RETURN @rs  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemLoginVaoRole]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemLoginVaoRole]
@LGNAME nvarchar(50),
@ROLENAME nvarchar(50)
as
begin
	DECLARE @TENUSER NVARCHAR(50)
	SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@LGNAME)

	 EXEC sp_addrolemember @ROLENAME, @TENUSER
	 IF @ROLENAME= 'PGV'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END
end
GO
/****** Object:  StoredProcedure [dbo].[SP_THUHOIQUYENCHOROLE]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THUHOIQUYENCHOROLE]
@ROLENAME varchar(50),
@QUYEN varchar(20),
@DOITUONG varchar(50)
as
begin

	DECLARE @STRSQL NVARCHAR(MAX)
	SET @STRSQL= CHAR(13)+'REVOKE '+@QUYEN+ ' ON ['+@DOITUONG+'] TO '+@ROLENAME+';'
	
	EXEC SP_EXECUTESQL @STRSQL  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaLoginKhoiRole]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_XoaLoginKhoiRole]
@ROLENAME nvarchar(50), @LGNAME nvarchar(50)
as
begin
	DECLARE @TENUSER NVARCHAR(50)
	SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@LGNAME)
	EXEC sp_droprolemember @ROLENAME, @TENUSER
end
GO
/****** Object:  Trigger [dbo].[TR_CAPNHATDIEM_DANGKY]    Script Date: 6/8/2022 9:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[TR_CAPNHATDIEM_DANGKY] 
   ON  [dbo].[DANGKY] 
   AFTER UPDATE 
AS 
BEGIN
		DECLARE @HESO1 FLoat
		DECLARE @HESO2 FLoat
		DECLARE @HUYDK bit
		select @HESO1=HESO1, @HESO2=HESO2, @HUYDK = HUYDK from KEHOACHGD KH, LOPTINCHI LTC, inserted
	where KH.MAMH=LTC.MAMH and LTC.HOCKY=KH.HOCKY and LTC.NIENKHOA=KH.NIENKHOA
	AND inserted.MALOPTC=LTC.MALOPTC and KH.MACN=(select MACN from SINHVIEN SV where inserted.MASV=SV.MASV)
		if(UPDATE(DIEMCC) or UPDATE(DIEMTH) or UPDATE(DIEMCK))
			begin
				if(@HUYDK = 1)
					raiserror( 'Khong the nhap diem, vi sinh vien nay da huy dang ky',16,1)
			end
		else
			begin
				UPDATE DANGKY
	 			SET DIEMTK = round(0.1*(SELECT DIEMCC FROM inserted) + @HESO1*(SELECT DIEMTH FROM inserted)
					+ @HESO2*(SELECT DIEMCK FROM inserted), 1)
				WHERE MALOPTC = (SELECT MALOPTC FROM inserted) and MASV=(SELECT MASV FROM inserted)
			end
END
GO
ALTER TABLE [dbo].[DANGKY] ENABLE TRIGGER [TR_CAPNHATDIEM_DANGKY]
GO
/****** Object:  Trigger [dbo].[TR_KT_MASV_MALTC_HUYDK]    Script Date: 6/8/2022 9:26:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_KT_MASV_MALTC_HUYDK] 
ON  [dbo].[DANGKY] 
   AFTER UPDATE
AS
begin
	if(UPDATE(HUYDK) or UPDATE(MASV) or UPDATE(MALOPTC))
		begin
			Declare @Loi int=1
			DECLARE @DIEMCC float, @DIEMTH float, @DIEMCK float
			select @DIEMCC=isNUll(DK.DIEMCC, -1), @DIEMTH= IsNULL(DK.DIEMTH, -1), @DIEMCK= isnull(DK.DIEMCK, -1) from DANGKY DK, inserted S1
				where DK.MASV= S1.MASV and DK.MALOPTC= S1.MALOPTC
			if(@DIEMCC <0 and @DIEMTH <0 and @DIEMCK <0)
				begin
					Set @Loi=0
				end
			If @Loi=1
				raiserror( 'Khong the sua thong tin MASV / MALOPTC / HUYDK, do sinh vien nay da duoc nhap diem',16,1)
		end
end
GO
ALTER TABLE [dbo].[DANGKY] ENABLE TRIGGER [TR_KT_MASV_MALTC_HUYDK]
GO
/****** Object:  Trigger [dbo].[TR_KT_SLSV_DANGKY]    Script Date: 6/8/2022 9:27:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_KT_SLSV_DANGKY] 
ON  [dbo].[DANGKY] 
   AFTER INSERT, UPDATE
AS
begin
Declare @Loi int=1
If ((select SLCL = SOSVTD - COUNT(DK.MASV) from LOPTINCHI LTC, DANGKY DK where HUYDK=0 and LTC.MALOPTC = (SELECT MALOPTC from inserted)
and DK.MALOPTC= (SELECT MALOPTC from inserted)
group by SOSVTD) >= 0)
    Set @Loi=0
If @Loi=1 
  raiserror( 'Khong the them dang ki, vi lop nay da du so luong sinh vien toi da',16,1)
end
GO
ALTER TABLE [dbo].[DANGKY] ENABLE TRIGGER [TR_KT_SLSV_DANGKY]
GO
/****** Object:  Trigger [dbo].[TR_AfterUpdate_SINHVIEN]    Script Date: 6/8/2022 9:27:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AfterUpdate_SINHVIEN] 
ON  [dbo].[SINHVIEN] 
   AFTER UPDATE
AS
begin
Declare @Loi int=1
if(UPDATE(MASV) or UPDATE(MALOP) or UPDATE(MACN))
begin
if exists(select MASV from DANGKY DK where DK.MASV= (SELECT MASV from inserted))
    Set @Loi=0
end
If @Loi=0 
  raiserror( 'Khong the sua thong tin, do sinh vien nay da dang ky lop tin chi va nhap diem',16,1)
end
GO
ALTER TABLE [dbo].[SINHVIEN] ENABLE TRIGGER [TR_AfterUpdate_SINHVIEN]
GO
USE [master]
GO
